<section class="dashboard-show">
  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p> Our missing at Jungle is to bring you a unique and eclectic collection of products, 
  at completely unreasonable prices. 
  We hope that you will find something piques your interest. </p>

  <%= link_to "Start Shopping!", root_path, class: 'btn btn-lg btn-primary' %>


</section>